/* button */
.button {
    padding: 10px 12px;

    font-weight: bold;
    color: white;
    background-color: #006bb3;

    border: none;
}

.button:active {
    color: #ddd;
    background-color: #005c99;
}

/* button link */
.linkButton {
    text-decoration: none;
    padding: 10px 12px;

    font-size: .9em;
    font-weight: bold;
    color: white;
    background-color: #006bb3;

    border: none;
}

.linkButton:active {
    color: #ddd;
    background-color: #005c99;
}


/* input */
.text-input {
    margin: 5px;
    padding: 8px;

    width: 100%;
}

/* label */
.text-label {
    font-weight: bold;

}

/* select */
.select-text {
    margin: 5px;
    padding: 8px;

    width: 100%;
}

/* option */
.option-text{
    font-size: 1em;
}

/* table */
table {
    width: 100%;
    font-size: 0.9em;
    border-spacing: 0;
}

th {
    font-weight: bold;
    padding: 15px;

    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background-color: #ddd;
}

td {
    border-bottom: solid 1px #ccc;
    padding: 15px;
}