.container {
   height: auto;
   width: 100%;
   overflow: hidden;
}

.panel{
    margin: 10px;
    padding: 20px;
    border: solid #ddd 0.5px;
    overflow: hidden;
}

.panel-button--left{
    float: left;
}

.panel-button--right{
    float: right;
}

.right-content {
    width: auto;
    float: right;
}

.left-content {
    width: auto;
    float: left;
}

.left-content--naveMenu {
    background-color: #003d66;
    height: 100vh; 
}


.content {
    float: none;
    width: auto;
    overflow: hidden;
}

.content-30 {
    float: left;
    width: 30%;
    overflow: hidden;
}

.content-50 {
    float: left;
    width: 50%;
    overflow: hidden;
}

.content-60 {
    float: left;
    width: 60%;
    overflow: hidden;
}

.clear-float {
    clear: both;
}
