.sideMenu {
    width: 200px;
    color: #fff;
    overflow-y: none;
}

.sideMenu__item {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    padding: 20px;
}

.sideMenu div:hover {
    color: #ccc;
    background-color: #006bb3;
}

.sideMenu div a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
}

.sideMenu__item--subItem div {
    background-color: #006bb3;
}

@media screen and (max-width: 480px){
    .sideMenu {
        display: none;
    }
}

.left-content--navMenu {
    background-color: #003d66;
    height: 100vh; 
    /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3) */
}